/*Color palet used https://realtimecolors.com/?colors=f6f8f9-0e1315-493a32-080906-c7b6ad */

/*I used https://fontjoy.com to find an optimal font selection */

* {
    margin: 0;
    padding: 0;
    font-family: 'Martel', serif;
    color: #f6f8f9;
}

#header { /*Navigation Bar*/
    background-color: #0e1315;
}

.container { /*Container to put all sub parts og my website in for consistent spacing*/
    padding: 50px 5%;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul button{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #493a32;
}

nav ul button:hover {
    background-color: #c7b6ad;
}

nav ul button:hover li {
    color: #0e1315;
}

nav .current-tab-title {
    font-family: 'Merriweather Sans', sans-serif;
    color: #c7b6ad;
    font-size: 50px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Proza Libre', sans-serif;
}




/*******Tourist Destinations Page*******/




#coloseum, #pantheon {
    background: black;
}

.location-name {
    margin-bottom: 50px;
}

.location-name h2{
    color: #c7b6ad;
    font-size: 35px;
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
}

.dest-cols { /*dest-cols = Destination Columns*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dest-desc h3 {
    padding-bottom: 25px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 25px;
}

.dest-desc { /*.dest-desc = Destination Description*/
    flex-basis: 55%
}

.dest-img { /*.dest-img = Destination Images*/
    flex-basis: 40%; 
}

.fig-destination img { /*.fig-destination = Figure element to hold destination image and caption*/
    width: 100%;
    border-radius: 40px;
}

.fig-destination figcaption {
    text-align: center;
    padding-top: 10px;
}

.caption-link, .caption-link:link, .caption-link:visited, .caption-link:active {
    text-decoration: none;
    color: #f6f8f9;
}

.caption-link:hover {
    color: #c7b6ad;
}








